        body {
            background-color: black;
            color: azure;
        }

        .main {
            justify-items: center;
            display: flex;
            flex-direction: column;
            width: 60%;
            background-color: rgb(60, 60, 61);
            padding: 15px;
            border-radius: 5px;
            align-items: center;
            margin-left: 19vw;
            margin-bottom: 10px;

        }

        .main2 {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            background-color: rgb(60, 60, 61);
            padding: 15px;
            border-radius: 5px;
            width: 50%;
            margin-left: 24vw;
            margin-bottom: 10px;
        }

        .content {
            display: flex;
        }

        .input {
            width: 27em;
            height: 25px;
            border-radius: 5px;
            margin: 6px;
            background: transparent;
            color: aliceblue;
            box-shadow: 0 8px 16px rgba(116, 117, 117, 0.5);

        }

        .btn {
            margin: 10px 16px;
            height: 30px;
            width: 70px;
            background-color: aqua;
            font-size: 15px;
            cursor: pointer;
        }

        .del {
            margin: 10px 16px;
            height: 30px;
            width: 70px;
            background-color: rgb(240, 14, 25);
            font-size: 15px;
            cursor: pointer;
        }

        p h4 {
            background-color: rgb(203, 26, 26);
            display: flex;
            margin: 2px;
            height: 90px;
            align-items: center;
            border-radius: 4px;
        }